{% ckan_extends %}

{% block content %}

<div class="homepage layout-pkc">
    <div class="container">{{self.flash()}}</div>

    <div id="front-page-hero" class="hero-unit" style="margin-bottom: 0px;">
        <div class="container">
            <div class="row hero-row">
                <div id="header-wrapper">
                    <br>

                    <div class="col-md-offset-1 col-md-6">
                        <div class="hero-box">

                            <h1 style="text-transform:none;">{% trans %}Tusla Data Portal{% endtrans
                                %}</h1>
                        </div>
                    </div>
                    <div class="col-md-5 text-center">
                    <button class="btn btn-primary">
                    <a href="/dataset" id="" class="">{% trans %}EXPLORE{% endtrans %}</a>
                    </button>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-md-3">
            <div class="card card1">
                <p>TEXT</p>
            </div>
        </div>
                <div class="col-md-3">
            <div class="card card2">
                <p>TEXT</p>
            </div>
        </div>
                <div class="col-md-3">
            <div class="card card3">
                <p>TEXT</p>
            </div>
        </div>
                <div class="col-md-3">
            <div class="card card4">
                <p>TEXT</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
