<footer class="site-footer">
    <div class="container">
        {% block footer_content %}
        <div class="row">
            <div class="col-md-4 span4 footer-links">
                {% block footer_nav %}
                <ul class="list-unstyled">
                    {% block footer_links %}
                    <li><a target="_blank" href="https://www.tusla.ie/services/child-protection-welfare/">{% trans
                        %}Child Protection & Welfare{% endtrans %}</a></li>
                    <li><a target="_blank" href="https://www.tusla.ie/services/alternative-care/">{% trans %}Alternative
                        Care{% endtrans %}</a></li>
                    <li><a target="_blank" href="https://www.tusla.ie/services/family-community-support/">{% trans
                        %}Family & Communiy Support{% endtrans %}</a></li>

                    {% endblock %}

                </ul>

            </div>
            <div class="col-md-4 span4 attribution">
                <ul class="list-unstyled">
                    <li><a target="_blank" href="https://www.tusla.ie/services/educational-welfare-services/">{% trans
                        %}Educational Welfare Services{% endtrans %}</a></li>
                    <li><a target="_blank" href="https://www.tusla.ie/services/domestic-sexual-gender-based-violence/">{%
                        trans %}Domestic, Sexual & Gender based Violence{% endtrans %}</a></li>
                </ul>

            </div>
            <div class="col-md-4 span4">
                <ul class="list-unstyled">
                    {% block footer_attribution %}
                    <p>{% trans %}Powered by{% endtrans %} <a class="" href="https://derilinx.com">DERILINX</a></p>
                    {% endblock %}
                    {% block footer_links_ckan %}
                    {% set api_url = 'http://docs.ckan.org/en/{0}/api/'.format(g.ckan_doc_version) %}
                    <li><a href="{{ api_url }}">{{ _('CKAN API') }}</a></li>
                    <li><a href="http://www.opendefinition.org/okd/"><img
                            src="{{ h.url_for_static('/base/images/od_80x15_blue.png') }}" alt="Open Data"></a></li>
                    {% endblock %}
                </ul>
                {% endblock %}
            </div>

        </div>
        {% endblock %}
    </div>

    {% block footer_debug %}
    {% if g.debug %}
    {% include 'snippets/debug.html' %}
    {% endif %}
    {% endblock %}
</footer>
