{% ckan_extends %}

{% block basic_fields %}
    {%- if not dataset_type -%}
        <p>
            dataset_type not passed to template. your version of CKAN
            might not be compatible with ckanext-scheming
        </p>
    {%- endif -%}
    {%- set schema = h.scheming_get_dataset_schema(dataset_type) -%}
    {%- set all_groups = h.schema_field_group_list_of_groupings(schema) -%}
    {%- set group_labels = schema.get('dataset_field_group_labels', {}) -%}
    {%- set dataset_has_organization = data.owner_org or data.group_id -%}
    {%- set user_is_org_admin = (data.owner_org and h.check_access('organization_update', {'id':data.owner_org})) -%}
    {%- set user_is_admin = h.check_access('sysadmin') or user_is_org_admin -%}

    {% if not all_groups %}
        {{ super() }}
    {% else %}
    <div id="groupTab" class="d-flex align-items-start">
        <div class="nav nav-stacked flex-column nav-pills me-4" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            {%- for group in all_groups -%}
                {%- set raw_group_label = group_labels.get(group, group) -%}
                {%- set translated_group_label = h.scheming_language_text(raw_group_label) -%}
                <button 
                    class="nav-link" 
                    id="v-pills-{{ h.slugify(group) }}-tab" 
                    data-bs-toggle="pill" 
                    data-bs-target="#v-pills-{{ h.slugify(group) }}" 
                    type="button" 
                    role="tab" 
                    aria-controls="v-pills-{{ h.slugify(group) }}" 
                    aria-selected="true"
                    style="text-align:left;">
                    {{ translated_group_label or (raw_group_label.get('en') if raw_group_label is mapping else raw_group_label) or group }}
                </button>
            {%- endfor -%}        
        </div>

        <div class="tab-content col-md-10" style="display:block;" id="v-pills-tabContent">
            {%- for group in all_groups -%}
                <div class="tab-pane fade" id="v-pills-{{ h.slugify(group) }}" role="tabpanel" aria-labelledby="v-pills-{{ h.slugify(group) }}-tab">
                    {%- for field in schema.dataset_fields -%}
                        {% if field.grouping == group %}
                            {%- if field.form_snippet is not none -%}
                                {%- if not (field.visibility == 'admin') or (field.visibility == 'admin' and user_is_admin) -%}
                                    {%- snippet 'scheming/snippets/form_field.html',
                                        field=field, data=data, errors=errors, licenses=c.licenses,
                                        entity_type='dataset', object_type=dataset_type -%}
                                {%- endif -%}
                            {%- endif -%}
                        {%- endif -%}
                    {%- endfor -%}
                </div>
            {%- endfor -%}
        </div>

        {%- if 'resource_fields' not in schema -%}
            <!-- force controller to skip resource-editing step for this type -->
            <input type="hidden" name="_ckan_phase" value=""/>
        {%- endif -%}

    </div>
    {% asset 'schema_field_group/js' %}
    {% asset 'schema_field_group/css' %}
    {% endif %}

{% endblock %}
